#postRoot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

h1 {
  font-size: 3em;
  text-align: center;
}

p {
  font-size: 1.25em;
  text-align: left;

  span.tags {
    color: blue;
    font-size: 0.8em;
  }
}


