<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= page.header %></h1>
    <% page.articles.forEach(function(article) { %>
    <p><%= article %></p>
    <% }) %>
  </body>
</html>
