.layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
    font-family: sans-serif;
}

header {
    grid-column: 1 / 4;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 1em;
}

aside {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: row;
}

footer {
    grid-column: 1 / 4;
}
