.container {
  /* relative to font size, defaults on Chrome to 16px */
  width: 64em;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper aside {
  flex: 1;
}

.wrapper main {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article {
  width: 350px;
}
